
.about{
    background: white;
    margin-top: 20px;
    animation: noise 1s steps(2) infinite;
}

.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: gray;
}

.heading h2{
    font-weight: 600;
    font-size: 30px;
}

.Content{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.ContentBox{
    /* padding-right: 30px; */
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
    border-radius: 30%;
}

.ContentBox h3{
    padding-top: 40px;
    font-size: 24px;
    margin-bottom: 10px;
    color: turquoise;
}

.image{
    max-width: 70%;
    height: auto;
    border-radius: 30%;

}

.w50{
    min-width: 50%;
}



/* Header Lines */


.Abheader-line{
    height: 4px;
    margin: -24px 0 57px 580px;
    width: 100px;
    background: turquoise;
    padding-bottom: 5px;
}

.intheader-line{
    height: 4px;
    margin: 4px 0 5px 580px;
    width: 100px;
    background: turquoise;
    padding-bottom: 7px;
  
}


.Techeader-line{
    height: 6px;
    margin: 4px 0 5px 500px;
    width: 280px;
    background: turquoise;
    padding-bottom: 5px;
}

.Conheader-line{
    height: 4px;
    margin: 4px 0 5px 470px;
    width: 310px;
    background: turquoise;
    padding-bottom: 5px;
}


@media only screen and (min-width: 300px) and (max-width: 600px){
    .Content{
        display: grid;
        justify-content: space-between;
        text-align: center;
    }

    .image{
        display: none;
    }
    
    .ContentBox{
        padding-right: 30px;
        padding: 10px 15x;
        background: #222;
        color: #fff;
        max-width: 340px;
        height: 680px;
        margin: 10px;
        text-align: center;
        transition: 0.5s;
        border-radius: 30%;
        background-image: url(about.jpg);
        background-size: cover;
        opacity: 0.8;
        
    }
    
    .ContentBox h3{
        padding-top: 10px;
        font-size: 20px;
        margin-bottom: 10px;
        color: black;
        opacity: 100;
    }

    .ContentBox w50 p{
        color: rgb(0, 0, 0);
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin:20px 0px 30px;
        font-size: 20px;
    }

    
    .ContentBox p{
        color:brown;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin:20px 0px 30px;
        font-size: 20px;
    }

    p{
        color: turquoise;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.5px;
        margin:20px 0px 30px;
        font-size: 20px;
    }
    
    .w50{
        min-width: 50%;
    }
    
    .heading h2{
        font-weight: 600;
        font-size: 30px;
    }

}

@media only screen and (min-width: 1400px){
.banner{
    width: 100%;
    height: auto;
}

    .Abheader-line{
        height: 4px;
        margin: -24px 0 57px 660px;
        width: 100px;
        background: turquoise;
        padding-bottom: 5px;
    }


    .intheader-line{
        height: 4px;
        margin: 4px 0 5px 660px;
        width: 100px;
        background: turquoise;
        padding-bottom: 7px;
      
    }
    
    
    .Techeader-line{
        height: 6px;
        margin: 4px 0 5px 570px;
        width: 280px;
        background: turquoise;
        padding-bottom: 5px;
    }
    
    .Conheader-line{
        height: 4px;
        margin: 4px 0 5px 560px;
        width: 310px;
        background: turquoise;
        padding-bottom: 5px;
    }
}