html{
    height:100%;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


   /* .greeting{
       color: black;
       font-size: 30px;
       text-align: center;
       padding-top: 280px;
   }

   .name{
    color:white;
    font-size: 40px;
    text-align: center;
    padding-top:25px;
   }

   .resume{
       color: red;
       font-size: 20px;
       text-align: center;
      
   }
        */
   body{
       margin:0px;
       padding:0px;
       font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   .navbar{
       position: relative;
       max-width: 100%;
       padding:10px;
       margin:-30px 40px;
       box-sizing: border-box;
     
   }

   .menu{
       float: right;
   }

   .menu ul{
       margin:0px;
       padding:0px;
      display: inline-flexbox;
   }

   .menu ul li{
       list-style: none;
   }

   .menu ul li a{
       display:block;
       margin:10px 0px;
       padding:10px 20px;
       text-decoration: none;
       font-weight: 700;
       font-size:12px;
       color:#ffffff;
   }

   .fix{
       clear: both;
   }

   .logo{
       height:60px;
       font-size:30px;
       line-height:60px;
       padding:0px 20px;
       text-align:center;
       box-sizing: border-box;
       float: left;
       font-weight: 700;
       text-decoration: none;
       color:white;
   }